.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    box-shadow: 0 0 10px;
    gap: 500px;
}

.logo {
    max-width: 100px; 
}

.menu{
    display: flex;
    gap: 10px;
}
.menu a:hover{
    background-color: lightgray;
}

.menu a {
    margin-left: 10px;
    text-decoration: none;
    color: black;
    font-size: 14px;
    background-color: white;
    border-radius: 100px;
    text-align: center;
    padding: 20px 20px;
    font-family: sans-serif, Arial;
    font-weight: 550;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-color: rgb(214, 214)
}

h1 {
    text-align: center;
    color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 70px;
    margin-top: 20px;
    background-color: green;
}
.imagem_central {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 16px;
    background-color: black;
}
.div_central{
    background-color: rgb(234, 234, 234);
    padding: 16px;
}
.imagem_promocao{
    width: 00px;
}

#apresentacao {
    color: white;
    font-size: 26px;
    width: 700px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify; 
}

#atleta, #atleta1 {
    height: 450px;
    border: 5px;
    color: black;
    box-shadow: 0 0 20px;
}

.tabela {
    background-color: white;
    padding: 1px 20px;
    margin: 30px auto;
    padding-bottom: 30px;
    width: 50%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color: black;
    margin-bottom:30px;
}

.tabela h2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

.tabela table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

.tabela th, .tabela td {
    border: 1px solid #ddd;
    padding: 8px;
}

.tabela th {
    background-color: #f2f2f2;
    font-weight: bold;
}


.Mapa {
    display: flex;
    align-items: center;
    justify-content: center; 
    margin-top: 10px;
    width: 100%;
}

.localizacao h2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    font-size: 24px;
    margin-right: 20px; 
    
    line-height: 1.5;
    text-align: center;

}

#mapa-iframe {
    width: 50%; 
    height: 400px;
    border: 3px solid white; 
}

#instagram {
    width: 50px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.personal {
    background-color: #f9f9f9; 
    border-radius: 15px; 
    box-shadow: 0 4px 8px rgb(255, 255, 255);
    color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px; 
    margin: 0 15px;
    width: 140px;
    transition: transform 0.3s ease;
}

.personal:hover {
    transform: translateY(-5px); 
}

.personal img {
    width: 50px;
    margin-left: 20px;
    transition: transform 0.3s ease;
}

.personal img:hover {
    transform: scale(1.1); 
}

.personal p {
    font-family: 'Arial', sans-serif;
    font-size: 18px; 
    font-weight: bold;
    margin: 0;
}

.personal div {
    display: flex;
    align-items: center;
}

#titulo-personais {
    font-family: 'Georgia', serif;
    font-size: 24px;
    color: #ffffff;
    text-align: center;
    margin-bottom: 30px;
    font-weight: bold;

}

.personais {
    display: flex;
    justify-content: center;
    gap: 0px
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    margin-top: 50px;
    bottom: 0;
    width: 100%;
}

 